@* Copyright (c) 2023 Xomega.Net. All rights reserved. *@

@if (ErrorList != null && ErrorList.Errors.Count() > 0)
{
    <div class="card @Class">
        <div class="card-header bg-primary-subtle row g-0 justify-content-between align-items-center px-2">
            <h6 class="col m-0">@GetTitle()</h6>
            <button type="button" @onclick="@Close" class="btn-close col-auto ms-1" aria-label="Close"></button>
        </div>
        <div class="card-body p-2">
            @foreach (var err in ErrorList.Errors)
            {
                <div class="mb-1 p-1 d-flex align-items-center alert alert-@GetSeverityClass(err.Severity)">
                    <i class="fs-5 me-2 bi bi-@GetIconClass(err.Severity)-fill"></i><span>@err.Message</span>
                </div>
            }
        </div>
    </div>
}

@code {

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string ViewKey { get; set; }

    [Parameter]
    public ErrorList ErrorList { get; set; }

    protected string GetTitle() => ErrorList?.GetTitle(ViewKey);

    protected string GetSeverityClass(ErrorSeverity severity)
    {
        switch (severity)
        {
            case ErrorSeverity.Critical:
            case ErrorSeverity.Error: return "danger";
            case ErrorSeverity.Warning: return "warning";
            case ErrorSeverity.Info: return "info";
        }
        return "";
    }

    protected string GetIconClass(ErrorSeverity severity)
    {
        switch (severity)
        {
            case ErrorSeverity.Critical: return "x-octagon";
            case ErrorSeverity.Error: return "x-circle";
            case ErrorSeverity.Warning: return "exclamation-triangle";
            case ErrorSeverity.Info: return "info-circle";
        }
        return "";
    }

    public void Close(MouseEventArgs args)
    {
        if (ErrorList != null) ErrorList.Clear();
    }
}
