@* Copyright (c) 2023 Xomega.Net. All rights reserved. *@

@if (ErrorList != null && ErrorList.Errors.Count() > 0)
{
    <div class="card alert-@GetSeverityClass() @Class">
        <div class="card-header row g-0 justify-content-between align-items-center pe-2">
            <h6 class="col m-0">@GetTitle()</h6>
            <button type="button" @onclick="@Close" class="btn-close col-auto" aria-label="Close"></button>
        </div>
        <div class="card-body pb-2">
            @foreach (var err in ErrorList.Errors)
            {
                <div class="mb-2">
                    <i class="fs-5 me-2 bi bi-@GetIconClass(err.Severity)-fill"></i><span>@err.Message</span>
                </div>
            }
        </div>
    </div>
}

@code {

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string ViewKey { get; set; }

    [Parameter]
    public ErrorList ErrorList { get; set; }

    protected string GetTitle() => ErrorList?.GetTitle(ViewKey);

    protected string GetSeverityClass() => ErrorList.HasErrors() ? "danger" :
        ErrorList.Errors.Any(e => e.Severity > ErrorSeverity.Info) ? "warning" : "info";

    protected string GetIconClass(ErrorSeverity severity)
    {
        switch (severity)
        {
            case ErrorSeverity.Critical:
            case ErrorSeverity.Error: return "exclamation-circle";
            case ErrorSeverity.Warning: return "exclamation-triangle";
            case ErrorSeverity.Info: return "info-circle";
        }
        return "";
    }

    public void Close(MouseEventArgs args)
    {
        if (ErrorList != null) ErrorList.Clear();
    }
}
