@* Copyright (c) 2022 Xomega.Net. All rights reserved. *@

<div class="@Class card collapse @(Collapsed ? "" : "show")">
    <div class="card-header row g-0 justify-content-between align-items-center pe-2">
        <h5 class="col m-0">@Title</h5>
        <button type="button" @onclick="@ToggleClicked" class="btn-close col-auto" aria-label="Close"></button>
    </div>
    <div class="card-body">
        @ChildContent
    </div>
</div>
