@* Copyright (c) 2022 Xomega.Net. All rights reserved. *@

@using Syncfusion.Blazor.Inputs
@using Xomega.Framework

@inherits XSfComponent

@if (IsVisible)
{
    <div class="@Class">
        <SfTextBox Value="@Value" Readonly="true" CssClass="e-data-label"
                   Placeholder="@PlaceholderText" FloatLabelType="@FloatLabelType">
        </SfTextBox>
    </div>
}

@code
{
    protected string Value => Property?.GetStringValue(ValueFormat.DisplayString, Row);
}