@page "/"
@attribute [Authorize]

<PageTitle>AdventureWorks Home</PageTitle>

<div class="d-flex flex-column align-items-center justify-content-evenly w-100">
    <div>
        <h2>Welcome to AdventureWorks!</h2>
        <p>
            Please make your selection from the sidebar menu.
        </p>
    </div>
</div>