@using System.Net

@inject NavigationManager Navigation

<ul class="navbar-nav">
    <li class="nav-item dropdown text-nowrap">
        <AuthorizeView>
            <Authorized>
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">@context.User.Identity.Name</a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark mt-0 p-0" style="min-width: 0">
                    <li class="nav-item text-nowrap">
                        <a class="nav-link" href="/SignOut?redirectUri=@WebUtility.UrlEncode(Navigation.Uri)">
                            <i class="bi bi-power me-1"></i>Sign out</a>
                    </li>
                </ul>
            </Authorized>
            <NotAuthorized>
                <a class="nav-link" href="/login">Sign in</a>
            </NotAuthorized>
        </AuthorizeView>
    </li>
</ul>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }
}