@inherits LayoutComponentBase

@using AdventureWorks.Client.Blazor.Common.Views 

<div>
    <div class="sidebar bg-dark navbar-dark"
         style="width: @(sidebarWidth)px; margin-left: @(SidebarOpen ? 0 : -sidebarWidth)px; transition: margin 0.3s">
        <NavMenu Class="navbar-nav" Items="MainMenu.Items"/>
    </div>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <button class="navbar-toggler shadow-none border-0" type="button" @onclick="ToggleSidbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand me-auto" href="#">Adventure Works</a>
    </header>

    <div style="margin-left: @(SidebarOpen ? sidebarWidth : 0)px; transition: margin 0.3s">
        <div class="body">
            @Body
        </div>
        <footer class="px-2 py-1 row gx-0 justify-content-between bg-dark text-white-50">
            <div class="col-auto">Copyright © @DateTime.Now.Year MyCompany. All rights reserved.</div>
            <div class="col-auto">Powered by <a class="text-white-50" href="http://xomega.net">Xomega.Net</a></div>
        </footer>
    </div>
</div>

@code
{
    public bool SidebarOpen = false;

    private int sidebarWidth = 220;

    public void ToggleSidbar()
    {
        SidebarOpen = !SidebarOpen;
    }
}
