
/* XsfDataLabel styling */

.e-data-label {
  border-width: 0px !important;
  box-shadow: none !important;
}

.e-data-label input {
  background: none !important;
  padding: 0px !important;
}

/* mark labels for required fields with a leading red asterisk */
.e-input-group.required label:before {
  content: "* ";
  color: #dc3545;
}