/**
 * Covers
 * > Popup view
 * > Vertical splitter panel
 * > Collapsible panel
 * > Tabs
 * > Applied criteria
 * > Autocomplete
 * > PickList
 */

/* Popup view (jQuery UI Dialog)
   ===================================================== */

.popup-view.ui-dialog {
  max-width: calc(100% - 6px);
  max-height: calc(100% - 3px);
  border: 3px solid #465c71;
  border-top: none;
  box-shadow: 0 0 20px 5px #aaa;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  overflow: visible;
}

.popup-view.ui-corner-all, .popup-view .ui-corner-all {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.popup-view .ui-resizable-handle { z-index: 1000; }
.popup-view .ui-resizable-n { top: 0; }
.popup-view .ui-resizable-e { right: -3px; }
.popup-view .ui-resizable-s { bottom: -3px; }
.popup-view .ui-resizable-w { left: -3px; }
.popup-view .ui-resizable-sw { bottom: -3px; left: -3px; }
.popup-view .ui-resizable-ne { top: 0; right: -3px; }
.popup-view .ui-resizable-nw { top: 0; left: -3px; }

.popup-view.ui-dialog .ui-dialog-titlebar {
  padding: 5px 0.35rem;
  border: none;
  background: #465c71;
}

.popup-view.ui-dialog .ui-dialog-title {
  margin: 0;
  line-height: 18px;
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: none;
  color: #fff;
}

.popup-view.ui-dialog .ui-dialog-content {
  max-height: calc(100% - 28px);
  padding: 0;
}

.popup-view .ui-dialog-content > *,
.popup-view .ui-dialog-content > * > *,
.popup-view .ui-dialog-content > * > * > .view {
  height: 100%;
  overflow: hidden;
}

.popup-view .ui-dialog-content > * > * > .view {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-right: 0;
}

.popup-view .ui-dialog-content > * > * > .view > .view-header {
  display: none;
}

.popup-view .ui-dialog-content > * > * > .view > .view-body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
}

.popup-view .ui-dialog-content > * > * > .view.with-footer .view-body {
  margin-bottom: -1.7rem;
  padding-bottom: 1.7rem;
}

.popup-view .ui-dialog-content > * > * > .view > .view-body > .content {
  height: 100%;
  padding-right: 0.7rem;
  overflow: auto;
}

.popup-view .ui-dialog-content > * > * > .view > .view-footer {
  height: 1.2rem;
  overflow: hidden;
}

.popup-view.ui-widget input, .popup-view.ui-widget select, .popup-view.ui-widget textarea {
  font-family: inherit;
  font-size: inherit;
}

.popup-view.ui-widget input[type='submit'], .popup-view.ui-widget button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 0.6rem;
}

/* Vertical splitter panel
   ===================================================== */

/**
 * The panel fills the container anchoring view header top
 * and view footer bottom while view body allows scrolling
 * on overflow.
 */

.vsplitter-panel {
  width: 100%;
}

.vsplitter-panel,
.vsplitter-panel > *,
#Pane1.vsplitter-pane > *,
#Pane1.vsplitter-pane > * > .view,
#Pane2.vsplitter-pane > *,
#Pane2.vsplitter-pane > * > *,
#Pane2.vsplitter-pane > * > * > *,
#Pane2.vsplitter-pane > * > * > * > .view {
  height: 100%;
  overflow: hidden;
}

#Pane2.vsplitter-pane > * > * > * {
  overflow: auto;
}

.vsplitter-panel > #Pane1 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  max-width: 100%;
  margin-right: -7px;
  padding-right: 7px;
}

.vsplitter-panel > .vsplitter {
  float: left;
  width: 5px;
  border-left: 1px solid #b6b7bc;
  border-right: 1px solid #b6b7bc;
  cursor: ew-resize;
}

.vsplitter-buttons {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vsplitter.ui-state-disabled {
  opacity: 1;
  filter: none;
  background-image: inherit;
}

.vsplitter a {
  display: block;
  width: 5px;
  height: 35px;
  background: url(../images/splitter-left.gif) no-repeat 50% 50%;
  cursor: pointer;
}

.vsplitter a.right-pane-button {
  background: url(../images/splitter-right.gif) no-repeat 50% 50%;
}

#Pane1.vsplitter-pane > * > .view,
#Pane2.vsplitter-pane > * > * > * > .view {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-right: 0.35rem;
}

#Pane1.vsplitter-pane > * > .view > .view-header,
#Pane2.vsplitter-pane > * > * > * > .view  > .view-header {
  position: relative;
  height: 1rem;
  overflow: hidden;
  z-index: 1;
}

#Pane1.vsplitter-pane > * > .view > .view-body,
#Pane2.vsplitter-pane > * > * > * > .view  > .view-body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-top: -1.6rem;
  padding-top: 1.6rem;
  height: 100%;
}

#Pane1.vsplitter-pane > * > .view.with-footer > .view-body,
#Pane2.vsplitter-pane > * > * > * > .view.with-footer > .view-body {
  margin-bottom: -1.7rem;
  padding-bottom: 1.7rem;
}

#Pane1.vsplitter-pane > * > .view > .view-body > .content,
#Pane2.vsplitter-pane > * > * > * > .view  > .view-body > .content {
  height: 100%;
  padding-right: 0.35rem;
  overflow: auto;
}

#Pane1.vsplitter-pane > * > .view > .view-footer,
#Pane2.vsplitter-pane > * > * > * > .view  > .view-footer {
  height: 1.2rem;
  overflow: hidden;
}

/* Collapsible panel
   ===================================================== */

.cpanel {
  border: 1px solid #5d7b9d;
}

.cpanel > .widget-header {
  min-height: 1.7em;
  line-height: 1.7em;
  padding: 0 7px 1px;
  background-color: #5d7b9d;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
}

.cpanel > .widget-header > * {
  float: left;
}

.cpanel > .widget-header .widget-title {
  padding-left: 7px;
  font-size: 1.2em;
  font-weight: 400;
  font-variant: small-caps;
  text-transform: none;
  color: #fff;
}

.cpanel > * > .widget-body {
  padding: 0.5rem;
}

/* Tabs
   ===================================================== */

/* AjaxControlToolkit TabContainer */

.ajax__tab_header a {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 0.65rem;
  color: #465c71;
}

.ajax__tab_xp.ajax__tab_container .ajax__tab_body {
  font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
  font-size: inherit;
}

/* Tabs widget */

ul.tabs {
    margin: 20px 0 10px;
    padding: 0;
    float: left;
    list-style: none;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}

ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px;
    background: #F0F0F0;
    overflow: hidden;
    position: relative;
}

ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 13px;
    line-height: 20px;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
}

ul.tabs li a:hover {
    background: #ccc;
    cursor: pointer;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  {
    background: #fff;
    border-bottom: 1px solid #fff;
}

/* Applied criteria
   ===================================================== */

.applied-criteria {
  border: 1px solid #5d7b9d;
  padding: 0 7px;
  line-height: 1.15rem;
  background-color: aliceblue;
  color: #5d7b9d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.applied-criteria h4 {
  display: inline-block;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 600;
  font-variant: small-caps;
  color: #5d7b9d;
}

.applied-criteria h4::after {
  content: " - ";
}

.fc-label::after {
  content: ":";
}

.fc-operator::before, .fc-datum::before {
  content: " ";
}

.fc-operator, .fc-datum {
  color: #666;
}

.fc-operator {
  font-style: italic;
}

.fc-datum {
  font-weight: 600;
}

.fc-datum::after {
  content: " and";
  font-weight: normal;
}

.fc-datum:last-child::after {
  content: "";
}

.field-criteria > *:last-child::after {
  content: "; ";
}

.field-criteria:last-child > *:last-child::after {
  content: "";
}

/* Autocomplete (jQuery UI)
   ===================================================== */

.ui-autocomplete.ui-widget {
  font-family: inherit;
  font-size: inherit;
}

/* PickList
   ===================================================== */

.picklist {
  display: inline-table;
}

.picklist > * {
  display: table-cell;
}

.picklist-buttons {
  width: 40px;
  text-align:center;
  vertical-align:middle;
}

.picklist > select {
  min-width: 100px;
}

.picklist-buttons > * {
  width: 28px;
  font-family: "Courier New", Courier, monospace !important;
  font-size: 14px !important;
  line-height: 18px !important;
  padding: 0;
  margin: 1px 0 !important;
}
