@* Copyright (c) 2025 Xomega.Net. All rights reserved. *@

@inherits XComponent

@if (IsVisible)
{
    <span @attributes="AdditionalAttributes" class="@Class @StateClass">
        @(Property == null ? "" : Property.GetStringValue(ValueFormat.DisplayString, Row))
    </span>
}

@code {
    protected override void OnInitialized()
    {
        ObservedChanges = PropertyChange.Value + PropertyChange.Visible;
    }
}